20. Write a program to cluster a set of points using K-means for IRIS
dataset. Consider, K=3, clusters. Consider Euclidean distance as the
distance measure. Randomly initialize a cluster mean as one of the data
points. Iterate at least for 10 iterations. After iterations are over, print the
final cluster means for each of the clusters.

In [1]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans

C:\Users\RUTUJA\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
#Assignment 20
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.datasets import load_iris

# Load Iris dataset
iris = load_iris()
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [17]:
# Set the number of clusters (K=4)
k = 3

# Randomly initialize cluster means
columns = df.columns  # Use all columns except the one you want to exclude
columns = columns.difference(['species'])  # Exclude 'column1'

initial_means = df[columns].sample(n=k, random_state=42)

# Perform K-means clustering
kmeans = KMeans(n_clusters=k, init=initial_means, n_init=1, random_state=42, max_iter=10)
kmeans.fit(df[columns])

# Get the final cluster means
final_means = kmeans.cluster_centers_

# Print the final cluster means
print("Final Cluster Means:")
for i, mean in enumerate(final_means):
    print(f"Cluster {i+1}: {mean}",)

Index(['petal_length', 'petal_width', 'sepal_length', 'sepal_width'], dtype='object')
Final Cluster Means:
Cluster 1: [4.39354839 1.43387097 5.9016129  2.7483871 ]
Cluster 2: [1.462 0.246 5.006 3.428]
Cluster 3: [5.74210526 2.07105263 6.85       3.07368421]

For example, for Cluster 1, the centroid values are approximately:

Sepal Length: 4.95
Sepal Width: 1.73
Petal Length: 6.29
Petal Width: 2.9

In [4]:
#Assignment 21
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.datasets import load_iris

# Load Iris dataset
iris = load_iris()
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)

# Set the number of clusters (K=4)
k = 4

# Randomly initialize cluster means
columns_for_clustering = df.columns  # Use all columns except the one you want to exclude
columns_for_clustering = columns_for_clustering.difference(['species'])  # Exclude 'column1'

initial_means = df[columns_for_clustering].sample(n=k, random_state=42)

# Perform K-means clustering
kmeans = KMeans(n_clusters=k, init=initial_means, n_init=1, random_state=42, max_iter=10)
df['cluster'] = kmeans.fit_predict(df[columns_for_clustering])

# Get the final cluster means
final_means = kmeans.cluster_centers_

# Print the final cluster means
print("Final Cluster Means:")
for i, mean in enumerate(final_means):
    print(f"Cluster {i+1}: {mean}")

Final Cluster Means:
Cluster 1: [4.95106383 1.72978723 6.29361702 2.9       ]
Cluster 2: [1.462 0.246 5.006 3.428]
Cluster 3: [6.01304348 2.14347826 7.08695652 3.12608696]
Cluster 4: [3.98666667 1.23333333 5.58       2.63333333]