18. Use House_Price prediction dataset. Provide summary statistics (mean,
median, minimum, maximum, standard deviation) of variables (categorical
vs quantitative) such as- For example, if categorical variable is age groups
and quantitative variable is income, then provide summary statistics of
income grouped by the age groups.

In [2]:
import seaborn as sns
import pandas as pd

C:\Users\RUTUJA\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [3]:
df=pd.read_csv("D:\Datasets\Datasets\House Data.csv")
df

,Unnamed: 0,district,price,address,AdUpdateDate,Category,GrossSquareMeters,BuildingAge,NumberFloorsofBuilding,UsingStatus,...,PriceStatus,RentalIncome,NumberOfBalconies,BalconyType,HallSquareMeters,WCSquareMeters,IsItVideoNavigable?,Subscription,BathroomSquareMeters,BalconySquareMeters
0,0,adalar,"3,100,000TL","['Anasayfa', 'Satılık Daire', 'İstanbul Satılı...",24 Şubat 2022,Satılık,160 m2,21 Ve Üzeri,3,Mülk Sahibi Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,adalar,"1,600,000TL","['Anasayfa', 'Satılık Daire', 'İstanbul Satılı...",02 Mart 2022,Satılık,120 m2,5-10,3,Mülk Sahibi Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,adalar,"18,500,000TL","['Anasayfa', 'Satılık Müstakil Ev', 'İstanbul ...",11 Şubat 2022,Satılık,350 m2,21 Ve Üzeri,2,Mülk Sahibi Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,adalar,"9,500,000TL","['Anasayfa', 'Satılık Bina', 'İstanbul Satılık...",11 Şubat 2022,Satılık,550 m2,11-15,3,Mülk Sahibi Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,adalar,"25,000,000TL","['Anasayfa', 'Satılık Köşk', 'İstanbul Satılık...",19 Ocak 2022,Satılık,840 m2,21 Ve Üzeri,4,Boş,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25150,25150,zeytinburnu,"1,850,000TL","['Anasayfa', 'Satılık Daire', 'İstanbul Satılı...",12 Ocak 2022,Satılık,180 m2,5-10,4,Mülk Sahibi Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25151,25151,zeytinburnu,"1,100,000TL","['Anasayfa', 'Satılık Daire', 'İstanbul Satılı...",10 Aralık 2021,Satılık,52 m2,3,16,Kiracı Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25152,25152,zeytinburnu,"9,000,000TL","['Anasayfa', 'Satılık Daire', 'İstanbul Satılı...",26 Şubat 2022,Satılık,176 m2,0 (Yeni),25,Boş,...,Genel Fiyat,NaN,NaN,NaN,55 m2,NaN,NaN,NaN,NaN,NaN
25153,25153,zeytinburnu,"13,000,000TL","['Anasayfa', 'Satılık Residence', 'İstanbul Sa...",18 Ekim 2021,Satılık,170 m2,5-10,30,Boş,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25154,25154,zeytinburnu,"1,000,000TL","['Anasayfa', 'Satılık Daire', 'İstanbul Satılı...",10 Aralık 2021,Satılık,55 m2,0 (Yeni),16,Boş,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(25155, 38)

In [5]:
df.size

955890

In [12]:

df['price'] = df['price'].str.replace('TL', '')

In [7]:
df.mean()

C:\Users\RUTUJA\AppData\Local\Temp\ipykernel_18724\3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

Unnamed: 0                12577.000000
NumberFloorsofBuilding        7.757782
dtype: float64

In [8]:
df.median()

C:\Users\RUTUJA\AppData\Local\Temp\ipykernel_18724\530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

Unnamed: 0                12577.0
NumberFloorsofBuilding        5.0
dtype: float64

In [9]:
df.std()

C:\Users\RUTUJA\AppData\Local\Temp\ipykernel_18724\3390915376.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

Unnamed: 0                7261.767347
NumberFloorsofBuilding       6.952397
dtype: float64

In [10]:
df.var()

C:\Users\RUTUJA\AppData\Local\Temp\ipykernel_18724\1568254755.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.var()

Unnamed: 0                5.273326e+07
NumberFloorsofBuilding    4.833582e+01
dtype: float64

In [13]:
categorical_summary = df.describe(include='object')
categorical_summary

,district,price,address,AdUpdateDate,Category,GrossSquareMeters,BuildingAge,UsingStatus,EligibilityForInvestment,BuildStatus,...,PriceStatus,RentalIncome,NumberOfBalconies,BalconyType,HallSquareMeters,WCSquareMeters,IsItVideoNavigable?,Subscription,BathroomSquareMeters,BalconySquareMeters
count,25155,25155,25155,25155,25155,25155,25155,25155,21506,11231,...,25155,5815,5324,4720,1433,865,5481,4488,1112,1040
unique,39,2825,1638,186,1,584,10,3,3,3,...,2,159,4,5,61,22,2,229,24,49
top,sariyer,"1,350,000","['Anasayfa', 'Satılık Residence', 'İstanbul Sa...",04 Mart 2022,Satılık,100 m2,0 (Yeni),Boş,Bilinmiyor,İkinci El,...,Genel Fiyat,3.000 TL,1,Açık Balkon,25 m2,5 m2,Hayır,50 TL,5 m2,5 m2
freq,1449,371,452,1605,25155,1478,7333,11139,12751,6409,...,24335,698,3485,3100,293,167,3413,998,243,156

In [14]:
df.describe()

         Unnamed: 0  NumberFloorsofBuilding
count  25155.000000            25155.000000
mean   12577.000000                7.757782
std     7261.767347                6.952397
min        0.000000                1.000000
25%     6288.500000                4.000000
50%    12577.000000                5.000000
75%    18865.500000                8.000000
max    25154.000000               71.000000

In [30]:
# Assuming df is your DataFrame
df['BuildingAge'] = pd.to_numeric(df['BuildingAge'], errors='coerce')

# Drop rows where the conversion failed (NaN values after coercing to numeric)
df.dropna(subset=['BuildingAge'], inplace=True)
df

,Unnamed: 0,district,price,address,AdUpdateDate,Category,GrossSquareMeters,BuildingAge,NumberFloorsofBuilding,UsingStatus,...,PriceStatus,RentalIncome,NumberOfBalconies,BalconyType,HallSquareMeters,WCSquareMeters,IsItVideoNavigable?,Subscription,BathroomSquareMeters,BalconySquareMeters
26,26,arnavutkoy,"515,000","['Anasayfa', 'Satılık Daire', 'İstanbul Satılı...",02 Mart 2022,Satılık,100 m2,2.0,4,Kiracı Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,34,arnavutkoy,"480,000","['Anasayfa', 'Satılık Daire', 'İstanbul Satılı...",01 Mart 2022,Satılık,85 m2,3.0,4,Mülk Sahibi Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,35,arnavutkoy,"715,000","['Anasayfa', 'Satılık Daire', 'İstanbul Satılı...",01 Mart 2022,Satılık,105 m2,4.0,4,Mülk Sahibi Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,51,arnavutkoy,"1,000,000","['Anasayfa', 'Satılık Daire', 'İstanbul Satılı...",26 Şubat 2022,Satılık,190 m2,3.0,5,Mülk Sahibi Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,56,arnavutkoy,"675,000","['Anasayfa', 'Satılık Daire', 'İstanbul Satılı...",02 Mart 2022,Satılık,95 m2,1.0,4,Mülk Sahibi Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25131,25131,zeytinburnu,"14,000,000","['Anasayfa', 'Satılık Residence', 'İstanbul Sa...",02 Şubat 2022,Satılık,300 m2,3.0,30,Boş,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25137,25137,zeytinburnu,"2,650,000","['Anasayfa', 'Satılık Daire', 'İstanbul Satılı...",04 Şubat 2022,Satılık,120 m2,1.0,17,Mülk Sahibi Oturuyor,...,Genel Fiyat,7.500 TL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25146,25146,zeytinburnu,"5,150,000","['Anasayfa', 'Satılık Bina', 'İstanbul Satılık...",25 Ekim 2021,Satılık,401 m2,1.0,4,Boş,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25148,25148,zeytinburnu,"22,000,000","['Anasayfa', 'Satılık Müstakil Ev', 'İstanbul ...",28 Şubat 2022,Satılık,340 m2,2.0,3,Kiracı Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25151,25151,zeytinburnu,"1,100,000","['Anasayfa', 'Satılık Daire', 'İstanbul Satılı...",10 Aralık 2021,Satılık,52 m2,3.0,16,Kiracı Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df.dtypes

Unnamed: 0                   int64
district                    object
price                       object
address                     object
AdUpdateDate                object
Category                    object
GrossSquareMeters           object
BuildingAge                 object
NumberFloorsofBuilding       int64
UsingStatus                 object
EligibilityForInvestment    object
BuildStatus                 object
TitleStatus                 object
ItemStatus                  object
NumberOfBathrooms           object
NumberOfWCs                 object
AdCreationDate              object
Type                        object
NetSquareMeters             object
NumberOfRooms               object
FloorLocation               object
HeatingType                 object
CreditEligibility           object
InsideTheSite               object
StructureType               object
MortgageStatus              object
Swap                        object
Balcony                     object
PriceStatus                 object
RentalIncome                object
NumberOfBalconies           object
BalconyType                 object
HallSquareMeters            object
WCSquareMeters              object
IsItVideoNavigable?         object
Subscription                object
BathroomSquareMeters        object
BalconySquareMeters         object
dtype: object

In [29]:
df.groupby('BuildingAge')['price'].describe()

            count unique        top freq
BuildingAge
1.0           798    374    850,000   16
2.0           963    426  1,100,000   21
3.0          1202    482  1,350,000   22
4.0          2199    711  1,350,000   35