5. Write a program to do: A dataset collected in a cosmetics shop showing
details of customers and whether or not they responded to a special offer
to buy a new lip-stick is shown in table below. (Use library commands)
According to the decision tree you have made from the previous training
data set, what is the decision for the test data: [Age < 21, Income = Low,
Gender = Female, Marital Status = Married]?

6. [Age > 35, Income = Medium, Gender = Female, Marital Status = Married]?
8.[Age = 21-35, Income = Low,Gender = Male, Marital Status = Married]?

In [ ]:
#Assignment 5
test_data5=[[0,0,1,1]]
prediction=model.predict(test_data5)
print(prediction)

In [40]:
df=pd.read_csv("D:\Datasets\Datasets\Lipstick.csv")
df

    Id    Age  Income  Gender       Ms Buys
0    1    <21    High    Male   Single   No
1    2    <21    High    Male  Married   No
2    3  21-35    High    Male   Single  Yes
3    4    >35  Medium    Male   Single  Yes
4    5    >35     Low  Female   Single  Yes
5    6    >35     Low  Female  Married   No
6    7  21-35     Low  Female  Married  Yes
7    8    <21  Medium    Male   Single   No
8    9    <21     Low  Female  Married  Yes
9   10    >35  Medium  Female   Single  Yes
10  11    <21  Medium  Female  Married  Yes
11  12  21-35  Medium    Male  Married  Yes
12  13  21-35    High  Female   Single  Yes
13  14    >35  Medium    Male  Married   No

In [41]:
df.describe()

            Id
count  14.0000
mean    7.5000
std     4.1833
min     1.0000
25%     4.2500
50%     7.5000
75%    10.7500
max    14.0000

In [42]:
df.size

84

In [43]:
df.isnull().sum()

Id        0
Age       0
Income    0
Gender    0
Ms        0
Buys      0
dtype: int64

In [44]:
datatype=df.convert_dtypes()
datatype.dtypes

Id         Int64
Age       string
Income    string
Gender    string
Ms        string
Buys      string
dtype: object

In [45]:
#0=<21, 1=21-35, 2=>35
def age(value):
    if(value=="<21"):
        return 0
    elif(value=="21-35"):
        return 1
    else:
        return 2
    
df['Age']=df['Age'].apply(age)

In [47]:
#0=low, 1=medium, 2=high
def income(value):
    if(value=="High"):
        return 2
    elif(value=="Medium"):
        return 1
    else:
        return 0
    
df['Income']=df['Income'].apply(income)

In [48]:
#0=male, 1=female
def Gender(value):
    if(value=="Male"):
        return 0
    elif(value=="Female"):
        return 1
    
df['Gender']=df['Gender'].apply(Gender)

In [49]:
#0=single, 1=married
def Ms(value):
    if(value=="Single"):
        return 0
    elif(value=="Married"):
        return 1
    
df['Ms']=df['Ms'].apply(Ms)

In [50]:
#0=no, 1=yes
def Buys(value):
    if(value=="Yes"):
        return 1
    elif(value=="No"):
        return 0
    
df['Buys']=df['Buys'].apply(Buys)

In [51]:
datatypes=df.convert_dtypes()
datatypes.dtypes

Id        Int64
Age       Int64
Income    Int64
Gender    Int64
Ms        Int64
Buys      Int64
dtype: object

In [66]:
y=df['Buys']
x=df.drop(['Buys','Id'],axis=1)
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=35)
model=DecisionTreeClassifier(random_state=33)
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

accuracy=accuracy_score(y_test,y_pred)
print("accuracy ",accuracy)
precision=precision_score(y_test,y_pred)
print("precision ",precision)
recall=recall_score(y_test,y_pred)
print("recall ",recall)
f1=f1_score(y_test,y_pred)
print("f1 ",f1)

accuracy  0.6666666666666666
precision  1.0
recall  0.6666666666666666
f1  0.8

In [57]:
#Assignment 5
test_data5=[[0,0,1,1]]
prediction=model.predict(test_data5)
print(prediction)

[1]

C:\Users\RUTUJA\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [58]:
#Assignment 6
test_data6=[[2,1,1,1]]
prediction=model.predict(test_data6)
print(prediction)

[1]

C:\Users\RUTUJA\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [67]:
#Assignment 8
test_data8=[[1,0,0,1]]
prediction=model.predict(test_data8)
print(prediction)

[1]

C:\Users\RUTUJA\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(